*, *:after, *:before {
	text-align: center;
	color: #2d3c49;
}

figure {
	margin: 0;
	display: flex;
	flex-direction: column;
}

figcaption{
	margin: 0 auto;
	display: flex;
	
}

.hero-image picture img{
	width: 100%;
	height: 300px;
}

picture img{
	width: 100%;
	height: 200px;
}

header {
	border-bottom: 5px solid #7d97ad;
	padding-bottom: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-1 {
	max-width: 960px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	padding: 15px 0 0 0;
}


.hero-image {
	margin: 1.5em 0 1.5em 0;
	width: 100%;
	height: 300px;
}



.logo {
	max-width: 2em;
	max-height: 2em;
}

.logo, h2, h4, h5, h6 {
	margin: 0 auto;
	display: flex;
	text-align: center;
}

.featured {
	margin: 0;
	color: #7d97ad;
}

.figures {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.app-pic {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 15px 0 15px 0 ;
}

/*@media only screen and (min-width: 320px) {

	.logo {
		max-width: 8%;
		max-height: 8%;
	}

@media only screen and (min-width: 400px) {

	.logo {
		max-width: 5%;
		max-height: 5%;
	}

}*/



footer p {
	color: #02b3e4;
	font-size: x-small;
}

.credits {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.credits-individual{
	/*float: left;*/
	display: flex;
	flex: wrap;
	margin: 1px;
}

@media only screen and (min-width: 640px) {

	.hero-image picture img{
		width: 100%;
		height: 400px;
	}	

	.hero-image {
		margin: 1.5em 0 1.5em 0;
		width: 100%;
		height: 400px;
	}
	

	.featured {
		text-align: left;
		padding-left: 10px;
	}

	.figures {
		
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.app-pic {
		width: 31.5%;
	}

}