*, *:after, *:before {
	text-align: center;
}

.hero-image {
	width: 100%;
}

.logo {
	max-width: 10%;
	max-height: 10%;
}

header {
	border-bottom: 5px solid grey;
	margin-bottom: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo, h1, h3 {
	margin: 1% auto;
	display: flex;
}

.figures {
	display: flex;
	flex-wrap: wrap;
}

.app-pic {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}